/* hardCard.scss */
.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea las tarjetas en la parte superior */
  gap: 20px; /* Espaciado entre las tarjetas */
}

.card {
  width: 43rem; /* Ancho fijo */
  height: 13rem; /* Alto fijo para que todas las tarjetas tengan el mismo tamaño */
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1; /* Esto permite que el contenido del cuerpo ocupe el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 18rem;
}

.card-footer {
  background-color: rgba(0, 136, 254, 1) !important; /* Fondo con color y opacidad */
}

.bg-custom {
  background-color: rgba(0, 136, 254, 1) !important; /* Fondo con color y opacidad */
}
.cards-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 18rem;
}

.card-footer {
  background-color: rgba(255, 255, 255, 1) !important; /* Fondo blanco */
}

.bg-custom {
  background-color: rgb(143 192 176) !important;
}

.text-dark {
  color: #000 !important; /* Texto en color negro */
}

.border-light {
  border-color: #f8f9fa !important; /* Borde de color claro */
}
