/* hardCard.scss */

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea las tarjetas en la parte superior */
  gap: 20px; /* Espaciado entre las tarjetas */
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  height: 14rem; /* Ajustado para mantener alineación */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos de manera uniforme */
  text-align: center;
}

.card-body {
  background-color: rgb(143 192 176) !important;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-footer {
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  min-height: 4rem;
}
